/*Limpar os padroes*/
*{
  margin: 0;
  padding: 0;
}

#language{
  margin-left: 93%;
  position: absolute;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
  font-size: 1.1em;

}

#language:hover{
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}
#topBar{
  background: black;
  height: 25%;
  border-bottom: 2px solid #C0C0C0;
  width: 100%;
}
#topLine{
  width: 100%;
  border: 5px solid red;
}
.logo{
  font-family: 'Josefin Sans', sans-serif;
  color: #C0C0C0;
  float: left;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}
#topMenu{
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color:white;
  padding: 20px 20px;
  margin-top: 2px;
  margin-right: 25%;
}
.textoDentro{
/*  width: 50%;*/
  padding: 5%;
  margin: 5% auto 5% auto;
}
.topH1{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
  text-align: center;
  font-weight:bold;
  /*padding: 5px 0;*/
}
.text{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin: 20px;
}

#me{
  width: 20%;
  margin-left: 15%;
  float: left;
  margin-right: 2%;
}
#aboutText{
  padding: 2%;
  padding-left: 5%;
  width: 60%;
  margin-left: 26%;
}
a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #C0C0C0;
  transition: all 0.3s ease-in-out;
}

#logoHTML{
  width: 10%;
  display: inline-block;
  margin-left: 20%;
}

#logoCSS{
  width: 10%;
  display: inline-block;
  margin-left: 2%;
}
#logoJS{
  width: 10%;
  display: inline-block;
  margin-left: 2%;
}
#logoJQUERY{
  width: 10%;
  display: inline-block;
  margin-left: 2%;
}
#logoC{
  width: 10%;
  display: inline-block;
  margin-left: 2%;
}

li{
  list-style: none;
  float: left;
  padding: 4px;

}

.barMenu{
  position: fixed;
  padding: 15px 20px 15px 15px;
  margin-top: 17vh; /*169*/
  color: white;
  cursor: pointer;
  background-color:  #C0C0C0;
  z-index: 10000;
  opacity: 0;
}

.dropdownMenu{
  position: fixed;
  width: 15%; /*210px;*/
  margin-left: 0px;
  overflow:hidden;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.9);
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  z-index: 10000;

}

.itensCaixa{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: white;
  padding: 10px 12px;
  display: inline-block;
  border: solid 1px white;
  box-sizing: border-box;
  text-align: center;
  margin-top: 35%;
  cursor: pointer;
}

.topMenuSelecao{
  margin: 10% 0;
  display: block;
  width: 50%;
  margin-left: 10%;
}

.topMenuItem{
  margin: 12%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em;
  color: white;
  padding: 1% 0;
  box-sizing: border-box;
  border-bottom: solid 1px #D8D8D8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
.topMenuItem:hover{
  background-color: white;
  color: #111;
  transition: all 0.3s ease-in-out;

}

#imgFace{
  width: 4%;
  margin-left: 33.4%;
  display: inline-block;
}

#imgTwitter{
  width: 4%;
  margin-left: 5%;
  display: inline-block;
}
#imgGit{
  width: 4%;
  margin-left: 5%;
  display: inline-block;
}
#imgGmail{
  width: 4%;
  margin-left: 5%;
  display: inline-block;
}

.imageContact{
  opacity: 0.85;
  transition: all 0.4s ease-in-out;
}
.imageContact:hover{
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.textResume{
  padding-left: 15%;
  margin-left: 0px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.textResume:hover{
  margin-left: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

}

#contactText{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 14%;
}


/* xs < 768*/
@media screen and (max-width: 767px) {
  .text{
    font-size: 1.2em;
  }
  .topH1{
    font-size: 2.2em;
  }

}

/* sm */
@media screen and (min-width: 768px) {
  .text{
    font-size: 1.4em;
  }
  .topH1{
    font-size: 2.4em;
  }
}

 /*md*/
@media screen and (min-width: 992px) {
  .text{
    font-size: 1.6em;
  }
  .topH1{
    font-size: 2.6em;
  }
}
/* lg */
@media screen and (min-width: 1200px) {
    .text{
        font-size: 1.7em;
    }
    .topH1{
      font-size: 3em;
    }
}
